{% if requests_received %}
  <form action="{% url 'accept_friend' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-8 m-0 p-0">
           
        <select name="request_id" class="form-select" aria-label="Disabled select">
          <option selected>Select Friend</option>
          {% for request in requests_received %}
            <option value="{{ request.id }}">{{ request.user.user.username }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col m-0 p-0">
        <input type="submit" value="Accept" class="btn btn-primary w-100 ">
      </div>
    </div>
  </form>
{% endif %}