{% if friend_list %} 
{% for friend in friend_list %}
{% if friend.friend.id != user.used.id %}
<div class="col-md-6">
  <div class="card">
      <div class="card-body rounded" 
      style="background-color: {% if user != friend.user.user %}{{friend.user.fav_color}}{% else %}{{friend.friend.fav_color}}{% endif %};">
        <h5 class="card-title capitalize">
          {% if user != friend.user.user %}
          {% if friend.user.mood %}
          {% with friend.user.mood as mo %}
          {% include mo|cut:" " %}
          {% endwith %}
          {% else %}
          {% include 'includes/icons/mood/alien.svg' %}
          {% endif %}
          {% elif friend.friend.mood %}
          {% with friend.friend.mood as mo %}
          {% include mo|cut:" " %}
          {% endwith %}
          {% else %}
          {% include 'includes/icons/mood/alien.svg' %}
          {% endif %}
        
        </h5>
          <span class="h5 p-0 m-0  text-capitalize">
          {% if user != friend.user.user %} {{friend.user.user}} {% else %}{{friend.friend.user}} {% endif %}
          </span>
      </div>
    <a  href="{% if user != friend.user.user %} {{friend.user.get_absolute_url}} {% else %} {{friend.friend.get_absolute_url}} {% endif %}" class="stretched-link"></a>
  </div>
</div>
{% endif %}
{% endfor %} 
{% endif %}
