/* Profile */
.mood-picker svg,
.mood-picker,
.color-picker {
    cursor: pointer;
    width: 100%;
    height: 0;
    transition: all 0.3s;
}

.pointer{
    cursor: pointer;
}

.form-width{
    margin: 0 auto;
    max-width: 500px;
}


.color-picker-friend {
    cursor: pointer;
    width: 100%;
    height: 50px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.493);
    transition: all 0.3s;
}

.mood-picker,
.mood-choice{
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    max-width: 60px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.493);
    transition: all 0.3s;
}

.btn,
.color-picker,
.color-choice,
.nav-link,
.card{
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.493);
}


.mood-picker .show,
.show {
    transition: all 0.3s;
    height: 50px !important;
}

.colors{
    cursor: pointer;
}

.color-choice{
    height: 50px;
    width: 100%;
    max-width: 60px;
}

.active{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.493);
}

.mood-choice:hover,
.btn:hover,
.nav-link:hover,
.card:hover,
.color-choice:hover,
.color-choice:hover,
.mood-picker:hover,
.color-picker-friend:hover,
.color-picker:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.493);
    transition: all 0.3s;
}
