.form-width {
    width: 60px;
}


.color-picker {
    cursor: pointer;
    align-items: center;
    width: inherit;
    height: 50px;
    transition: all 0.3s;
}

.mood-picker svg {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.pointer {
    cursor: pointer;
}

.form-width {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

.color-picker-friend {
    cursor: pointer;
    width: 100%;
    max-width: 60px;
    height: 50px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.493);
    transition: all 0.3s;
}

.mood-picker {
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    max-width: 60px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.493);
    transition: all 0.3s;
}

.btn,
.color-picker,
.mood-choice,
.color-choice,
.nav-link,
.card {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.493);
}


.colors {
    cursor: pointer;
}

.mood-choice,
.color-choice {
    height: 50px;
    width: 100%;
    max-width: 60px;
    border: ;
}

.active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.493);
}

.mood-choice:hover,
.btn:hover,
.nav-link:hover,
.card:hover,
.color-choice:hover,
.color-choice:hover,
.mood-picker:hover,
.color-picker-friend:hover,
.color-picker:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.493);
    transition: all 0.3s;
}


.input{
    font-size: 1.2rem;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.493);
}

.input::placeholder{
    font-size: 1.2rem;
    text-align:-moz-center;
}

.message{
    height: 100%;
    overflow: auto;
}