{% extends 'base.html' %} 
{% load static %} 
{% block extra_js %} 
{% endblock %}

{% block content %}

<div class="container h-100 p-1 p-sm-3">
  <div class="h-100 align-items-center">
    <div class="col-12 text-center">
      <h1 class="heading">{{slug}}</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
        </div>

        {% comment %} Main content {% endcomment %}
         <div class="col-12 col-sm-4 mx-auto">
            <div class="card border-0">
                <div class="card-body rounded" 
                  style="background-color: {{post.sender.fav_color}};">
                  <h5 class="card-title capitalize invert-text">
                    {% if post.sender.mood%}
                    {% with post.sender.mood as mo %}
                    {% include mo|cut:" " %}
                    {% endwith %}
                    {% endif %}
                  </h5>
                    <h3 class="text-capitalize invert-text">{{post.sender}}</h3>
                </div>
              <a  href="{{post.sender.get_absolute_url}}" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-12 col-sm-8 mx-auto bg rounded mt-4">
            <div class="col-12 my-3 p-3 rounded" style="background-color: {{post.color}}">
              
            <div class="col-12">
              <h5 class="invert-text py-3">
                {{post.message}}
              </h5>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
