{% extends 'base.html' %} {% load static %} {% block extra_js %} {% endblock %}
{% block content %}

<div class="container h-100">

  <div class="h-100 align-items-center">
    <div class="col-12 text-center">
      <h1 class="heading">The Colour Connector</h1>
      <h4 class="heading">Welcome {{user.username}}</h4>
      <div class="panel panel-default">
        <div class="panel-heading">

          <p class="panel-title">Search for user</p>

        </div>
        {% comment %} Search for users {% endcomment %}

        {% include 'includes/user-search-form.html' %}
        
        {% comment %} Main content {% endcomment %}
        <div class="row gx-3 gy-2">
          
          <div class="col-12 col-sm-8">
            <div class="col-12 m-2 p-3 bg-info">
                {% comment %} FriendList list cards {% endcomment %}
              <div class="row gx-3 gy-2">
                {% include 'includes/friend-list.html' %}
              </div>
            </div>
          </div>

            <div class="col-12 col-sm-4">
              <div class="col-12 m-2 p-3 bg-info">
                {% include 'includes/received-messages.html' %}
                </div>
              </div>
            </div>
  
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}