{% extends 'base.html' %} {% load static %} {% block extra_js %} {% endblock %}
{% block content %}

<div class="container h-100" id="splashImage">

  <div class="h-100 align-items-center">
    <div class="col-12 text-center">
      <h1 class="heading">The Colour Connector</h1>
      <h4 class="heading">Welcome {{user.username}}</h4>
      <div class="panel panel-default">
        <div class="panel-heading">
          <!-- Error Messages Container -->
    {% if messages %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               
                        {% for message in messages %}
                        {% with message.level as level %}
                        {% if level == 40 %}
                        <div class="alert alert-danger fade show" role="alert">
                            <strong>Error!</strong> {{ message }}
                            <a class="fs-2 me-auto" href="{% url 'profile' %}" >x</i></a>
                        </div>
                        
                        {% elif level == 'success' %}
                        <div class="alert alert-success fade show" role="alert">
                            <strong>Success!</strong> {{ message }}
                            <a class="fs-2 me-auto" href="{% url 'profile' %}" >x</a>
                        </div>
                        {% else %}
                        <div class="alert alert-info fade show" role="alert">
                            <strong>Info!</strong> {{ message }}
                            <a class="fs-2 me-auto" href="{% url 'profile' %}" >x</a>
                        </div>
                        {% endif %}
                        {% endwith %}
                        {% endfor %}

            </div>
        </div>
    </div>
    {% endif %}
          <p class="panel-title">Search for user</p>
        </div>
        {% comment %} Search for users {% endcomment %}

        {% include 'includes/search-user.html' %}
        

        {% comment %} Main content {% endcomment %}
        
        <div class="row gx-3 gy-2">
          
          <div class="col-12 col-sm-8">
            <div class="col-12 m-2 p-3 bg-info">
                {% comment %} profile section {% endcomment %}
                {% comment %} Send message colours {% endcomment %}

                {% include 'includes/send-message.html' %}

                {% comment %} Friends list cards {% endcomment %}
              <div class="row gx-3 gy-2">
                {% include 'includes/friend-cards.html' %}
              </div>
            </div>
          </div>

            <div class="col-12 col-sm-4">
              <div class="col-12 m-2 p-3 bg-info">
                {% include 'includes/message.html' %}
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>