{% load static %}

<script>

    var toastEl = document.querySelector(".toast-search");
    var toast = new bootstrap.Toast(toastEl, { delay: 8000 });
    toast.show();

</script>

<div aria-live="polite" aria-atomic="true">
    
  <div class="toast-container position-absolute top-0 end-0 p-3"> 
    <div data-this="search" class="toast toast-search" 
        role="alert" 
        aria-live="assertive"
        aria-atomic="true">
        
      <div class="toast-body p-0">
        <div class="p-3 rounded text-center" style="background-color: {{friend.fav_color}}" >       
          <form action="{% url 'add_friend' %}" method="post">        
            {% csrf_token %}
          
            <h5 class="capitalize">
              {% if friend.mood %}
              {% with friend.mood as mo %}
              {% include mo|cut:" " %}
              {% endwith %}
              {% else %}
              {% include 'includes/icons/mood/alien.svg' %}
              {% endif %}
            </h5>

            <span class="h5 p-0 m-0  text-capitalize">
              {{friend.user.username}}
            </span> </br>

            <input type="hidden" name="friend" value="{{friend.id}}" />
            <input type="submit" class="btn btn-success btn-block" value="Send friend request"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
