main {
    padding-top: 70px;
    padding-bottom: 50px;
}

/* Custom styling for nav bar */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: whitesmoke;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #0277bd;
    border-bottom: 1px solid;
}

#navbarNav a:hover {
    color: #0277bd;
    letter-spacing: 1px;
}

/* Custom styling for footer */

#footer {
    background-color: #3f51b5;
}

#footer a {
    text-decoration: none;
}

#footer a:hover {
    letter-spacing: 1px;
}

#footer .btn-primary {
    border-radius: 50px
}

/* Index.html style rules*/

#background-video {
    position: fixed;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* Give some opacitiy so not too dominating when text laid on top */
    opacity: 0.7;
    /* Use z-index so video sits behind the main title text on top */
    z-index: -1;
}

#intro {
    width: 50%;
    height: auto;
    margin: 100px auto 20px auto;
    border: 1px solid red;
}

#buttons {
    width: 70%;
    border: 1px solid blue;
    margin: 0 auto;
}

#login-button {
    float: left;
}

#signup-button {
    float: right;
}

.button {
    width: 100px;
    height: 50px;
}

.button a {
    text-decoration: none;
    
}

#line-break {
    float: none;
}
