{% load static %}

{% if messages %}
    {% for message in messages %} 
    {% with message.level as level %} 
    {% if level == 40 %}
    <div class="toast" 
      role="alert" 
      aria-live="assertive" 
      aria-atomic="true">     
      <div class="toast-body rounded alert-danger">{{ message }}</div>
    </div>
    {% elif level == 30 %}
    <div class="toast" 
        role="alert" 
        aria-live="assertive" 
        aria-atomic="true">
        <div class="toast-body rounded alert-warning">{{ message }}</div>
    </div>

      {% elif level == 20 %}
      <div
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          data-bs-autohide="true">
          <div class="toast-body rounded alert-info">{{ message }}</div>
        </div>
  
        {% else %}
        <div
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true">
          <div class="toast-body rounded alert-success">{{ message }}</div>
        </div>

    {% endif %} 
    {% endwith %} 
    {% endfor %}
{% endif %}

<script>
  onload = function() {
    var toastElList = [].slice.call(document.querySelectorAll(".toast"));
    var toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl);
    });
    toastList.forEach((toast) => toast.show());
  }
</script>
