{% comment %} Create color choice pop feature with 6 colors {% endcomment %} 
{% load static %} {% if mood %}
<strong>My Current Mood</strong>
<div onclick="moodFunc(this)" class="pointer mx-auto mood-choice">
  {% include mood.mood %}
</div>
{% else %}
<em>Choice your mood</em> <button class="pointer btn btn-sm" onclick="moodFunc(this)">*</button>
{% endif %}

<div class="row position-relative">
  <div class="col-md-12 position-absolute top-50 start-0">
    <form id="mood-change-form" action="{% url 'profile' %}" method="post">
      <div class="d-flex pt-3">
        {% csrf_token %}
        <input id="mood-input" type="hidden" name="mood" value="" />
        {% for m in moods %}
        <div data-mood="{{m}}" class="mood-picker bg-info">
          {% include m.mood %}
        </div>
        {% endfor %}
      </div>
    </form>
  </div>
</div>

<script>
  function moodFunc(x) {
    x.classList.toggle("active");
    picker = document.querySelectorAll(".mood-picker");
    picker.forEach(mood => {
      mood.addEventListener("click", function () {
        document.querySelector("#mood-input").value = this.dataset.mood;
        this.classList.toggle("show");
        document.querySelector("#mood-change-form").submit();
      });
      mood.classList.toggle("show");
      mood.getElementsByTagName('svg')[0].classList.toggle("show");
    });
  }
</script>
