{% comment %} Create color choice pop feature with 6 colors {% endcomment %} 
{% load static %} 

<div class="w-100">
  <div id="mood-btn">
    {%include 'includes/mood-button.html' %}
  </div>

  <div id="mood-block" class="row collapse multi-collapse">
      <div class="d-flex flex-row justify-content-around pt-3 rounded w-100">
        {% for m in moods %}
        <form class="form-width">
          {% csrf_token %}
          <input type="hidden" name="mood" value="{{m}}" />
          <div hx-post="{% url 'change_mood' %}" hx-target="#mood-btn" class="mood-picker bg-info">
            {% include m.mood %}
          </div>
        </form>
      {% endfor %}
    </div>
  </div>
</div>