{% comment %} Create color choice pop feature with 6 colors {% endcomment %} 
{% load static %} {% if mood %}
<strong>My Current Mood</strong>
<div id="mood-collapse-btn" data-bs-toggle="collapse" data-bs-target="#mood-block" aria-expanded="false" aria-controls="mood-block" class="pointer mx-auto mood-choice">
  {% include mood.mood %}
</div>
{% else %}
<em>Choice your mood</em> 
<div id="mood-collapse-btn" data-bs-toggle="collapse" data-bs-target="#mood-block" aria-expanded="false" aria-controls="mood-block" class="pointer mx-auto mood-choice">
  {% include 'includes/icons/moods/alien.svg' %}
</div>
{% endif %}

<div id="mood-block" class="row collapse multi-collapse">
  <div class="col-md-12">
    <form id="mood-change-form" action="{% url 'profile' %}" method="post">
      <div class="d-flex pt-3">
        {% csrf_token %}
        <input id="mood-input" type="hidden" name="mood" value="" />
        {% for m in moods %}
        <div data-mood="{{m}}" class="mood-picker bg-info">
          {% include m.mood %}
        </div>
        {% endfor %}
      </div>
    </form>
  </div>
</div>