{% load static %}

<div class="row mt-4">

    <div class="col-12 col-md-4">
    </div>
    
    <div class="col-12 col-md-4">
      <form class="form mx-auto searh-form" autocomplete="off">
        <div class="input-group mb-3 col-12">
          {% csrf_token %}
          <input
            type="text"
            class="search form-control rounded p-2 input"
            placeholder="Search Users..." 
            name="search"
            aria-label="Search for User"
            hx-post="{% url 'search_user' %}" 
            hx-trigger="keyup changed delay:1s, search" 
            hx-swap="outerhtml"
            hx-target="#username-error"/>
          </div>    
        <div id="username-error" class="error"></div>   
      </form>
    </div>
  
  <div class="col-12 col-md-4"> 
  </div>

</row>