{%  load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="A social platform to allow users to connect with each other using colours and images to express their thoughts">
    <meta name="keywords" content="social networking, connecting with colours and images">
    <meta name="author" content="Lightsabers">

    <title>Page Not Found</title>

    <!-- Inline styling to prevent any other error pages happening if stylesheet can't be linked -->
    <style>

    body {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: self-end;
        background-image: url('../static/images/404-image.jpg');
    }

    .main {
        margin-bottom: 150px;
    }

    .main a {
        color: palevioletred;
    }

    </style>
    
</head>

<body>
    <div class="main">
        <div class="content-404">

            <h1>
                <!-- Link to main website -->
                <a href="#">Click Here to Continue to our
                    Home Page</a>
                </h1>
        </div>
    </div>

    

    
</body>
</html>